workflow/workflow-MANEXT-v1-profesional.json
{
  "name": "Blog MANEXT v2.0 - Articulos SEO Extintores (Mejorado)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 3,
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "scheduler",
      "name": "Trigger Programado",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-60, 400],
      "notes": "Ejecuta cada 3 dias a las 10:00 AM"
    },
    {
      "parameters": {},
      "id": "manual",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-60, 200],
      "notes": "Para pruebas manuales"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SELECTOR INTELIGENTE MANEXT v1.0\n// Sistema de rotacion sin repeticion\n// ============================================\n\nconst CONFIG = {\n  baseUrl: 'https://mantenimientodeextintores.mx',\n  github: {\n    owner: 'Origenlab',\n    repo: 'MANTENIMIENTO-DE-EXTINTORES',\n    branch: 'main'\n  },\n  empresa: {\n    nombre: 'MANEXT',\n    slogan: 'Proteccion Contra Incendios Certificada',\n    telefono: '55 3968 9272',\n    whatsapp: '5215539689272',\n    email: 'contacto@mantenimientodeextintores.mx',\n    horario: 'Lun - Dom / 8:00 - 18:00'\n  },\n  categories: {\n    'seguridad-contra-incendios': 'Seguridad Contra Incendios',\n    'tipos-de-extintores': 'Tipos de Extintores',\n    'mantenimiento-y-recarga': 'Mantenimiento y Recarga',\n    'equipos-contra-incendio': 'Equipos Contra Incendio',\n    'normativas-y-certificaciones': 'Normativas y Certificaciones',\n    'prevencion-empresarial': 'Prevencion Empresarial',\n    'emergencias-y-protocolos': 'Emergencias y Protocolos',\n    'guias-y-comparativas': 'Guias y Comparativas',\n    'industria-y-comercio': 'Industria y Comercio',\n    'hogar-y-familia': 'Hogar y Familia'\n  },\n  colonias: [\n    'Centro Historico', 'Roma Norte', 'Condesa', 'Polanco',\n    'Coyoacan', 'Del Valle', 'Napoles', 'Santa Fe',\n    'Lomas de Chapultepec', 'San Angel', 'Pedregal',\n    'Naucalpan', 'Tlalnepantla', 'Interlomas'\n  ],\n  zonasIndustriales: [\n    'Parque Industrial Vallejo',\n    'Zona Industrial Tlalnepantla',\n    'Corredor Industrial Naucalpan',\n    'Zona Industrial Tultitlan'\n  ],\n  products: [\n    {\n      id: 'extintor-pqs',\n      name: 'Extintor de Polvo Quimico Seco (PQS)',\n      category: 'tipos-de-extintores',\n      categoryName: 'Tipos de Extintores',\n      focus: 'extintor multiusos ABC para oficinas, comercios e industrias',\n      audience: 'Empresarios, encargados de seguridad, duenos de negocios',\n      keywords: ['extintor PQS', 'polvo quimico seco', 'extintor ABC', 'extintor multiusos CDMX'],\n      url: '/polvo-quimico-seco.html',\n      relatedServices: [\n        {name: 'Recarga de Extintores', url: '/recarga-de-extintores.html'},\n        {name: 'Mantenimiento Preventivo', url: '/mantenimiento-preventivo.html'},\n        {name: 'Venta de Extintores', url: '/venta-de-extintores.html'}\n      ]\n    },\n    {\n      id: 'extintor-co2',\n      name: 'Extintor de CO2 (Dioxido de Carbono)',\n      category: 'tipos-de-extintores',\n      categoryName: 'Tipos de Extintores',\n      focus: 'extintor para equipos electronicos y servidores sin residuos',\n      audience: 'IT managers, centros de datos, laboratorios',\n      keywords: ['extintor CO2', 'dioxido de carbono', 'extintor equipos electronicos', 'extintor sin residuos'],\n      url: '/co2.html',\n      relatedServices: [\n        {name: 'Extintor PQS', url: '/polvo-quimico-seco.html'},\n        {name: 'Agentes Limpios', url: '/agentes-limpios.html'},\n        {name: 'Mantenimiento Preventivo', url: '/mantenimiento-preventivo.html'}\n      ]\n    },\n    {\n      id: 'extintor-tipo-k',\n      name: 'Extintor Tipo K para Cocinas',\n      category: 'industria-y-comercio',\n      categoryName: 'Industria y Comercio',\n      focus: 'extintor obligatorio para restaurantes y cocinas comerciales',\n      audience: 'Duenos de restaurantes, chefs, gerentes de hoteles',\n      keywords: ['extintor Tipo K', 'extintor cocinas', 'extintor restaurantes CDMX', 'extintor aceites grasas'],\n      url: '/tipo-k.html',\n      relatedServices: [\n        {name: 'Capacitacion Brigadas', url: '/capacitacion-brigadas.html'},\n        {name: 'Recarga de Extintores', url: '/recarga-de-extintores.html'},\n        {name: 'Senalizacion', url: '/senalizacion.html'}\n      ]\n    },\n    {\n      id: 'recarga-extintores',\n      name: 'Recarga de Extintores',\n      category: 'mantenimiento-y-recarga',\n      categoryName: 'Mantenimiento y Recarga',\n      focus: 'servicio profesional de recarga certificada NOM-154',\n      audience: 'Empresas con extintores vencidos o usados',\n      keywords: ['recarga extintores CDMX', 'recargar extintor', 'servicio recarga', 'recarga certificada'],\n      url: '/recarga-de-extintores.html',\n      relatedServices: [\n        {name: 'Mantenimiento Preventivo', url: '/mantenimiento-preventivo.html'},\n        {name: 'Prueba Hidrostatica', url: '/prueba-hidrostatica.html'},\n        {name: 'NOM-154-SCFI', url: '/blog/nom-154-scfi-guia-completa-cumplimiento-extintores.html'}\n      ]\n    },\n    {\n      id: 'mantenimiento-preventivo',\n      name: 'Mantenimiento Preventivo de Extintores',\n      category: 'mantenimiento-y-recarga',\n      categoryName: 'Mantenimiento y Recarga',\n      focus: 'servicio de mantenimiento anual obligatorio por NOM',\n      audience: 'Empresas que necesitan cumplir normativa',\n      keywords: ['mantenimiento extintores', 'servicio mantenimiento CDMX', 'mantenimiento anual', 'inspeccion extintores'],\n      url: '/mantenimiento-preventivo.html',\n      relatedServices: [\n        {name: 'Recarga de Extintores', url: '/recarga-de-extintores.html'},\n        {name: 'NOM-002-STPS', url: '/blog/nom-002-stps-seguridad-incendios-trabajo.html'},\n        {name: 'Capacitacion Brigadas', url: '/capacitacion-brigadas.html'}\n      ]\n    },\n    {\n      id: 'capacitacion-brigadas',\n      name: 'Capacitacion de Brigadas Contra Incendio',\n      category: 'prevencion-empresarial',\n      categoryName: 'Prevencion Empresarial',\n      focus: 'formacion obligatoria de personal en uso de extintores',\n      audience: 'Empresas que necesitan capacitar a su personal',\n      keywords: ['capacitacion extintores', 'curso brigadas', 'capacitacion incendios CDMX', 'formacion brigadas'],\n      url: '/capacitacion-brigadas.html',\n      relatedServices: [\n        {name: 'NOM-002-STPS', url: '/blog/nom-002-stps-seguridad-incendios-trabajo.html'},\n        {name: 'Prevencion Incendios', url: '/blog/prevencion-incendios-empresas-protocolo-completo-cdmx.html'},\n        {name: 'Senalizacion', url: '/senalizacion.html'}\n      ]\n    },\n    {\n      id: 'venta-extintores',\n      name: 'Venta de Extintores Certificados',\n      category: 'seguridad-contra-incendios',\n      categoryName: 'Seguridad Contra Incendios',\n      focus: 'venta de extintores nuevos con certificacion NOM',\n      audience: 'Empresas que necesitan comprar extintores nuevos',\n      keywords: ['venta extintores CDMX', 'comprar extintor', 'extintores certificados', 'precios extintores'],\n      url: '/venta-de-extintores.html',\n      relatedServices: [\n        {name: 'Como Elegir Extintor', url: '/blog/como-elegir-extintor-correcto-negocio-cdmx.html'},\n        {name: 'Catalogo Extintores', url: '/catalogo.html'},\n        {name: 'Mantenimiento Preventivo', url: '/mantenimiento-preventivo.html'}\n      ]\n    },\n    {\n      id: 'prueba-hidrostatica',\n      name: 'Prueba Hidrostatica de Extintores',\n      category: 'mantenimiento-y-recarga',\n      categoryName: 'Mantenimiento y Recarga',\n      focus: 'prueba quinquenal obligatoria de resistencia del cilindro',\n      audience: 'Empresas con extintores de mas de 5 anos',\n      keywords: ['prueba hidrostatica', 'prueba presion extintor', 'prueba quinquenal', 'certificacion cilindro'],\n      url: '/prueba-hidrostatica.html',\n      relatedServices: [\n        {name: 'Vida Util Extintor', url: '/blog/vida-util-extintor-cuando-reemplazarlo.html'},\n        {name: 'Mantenimiento Preventivo', url: '/mantenimiento-preventivo.html'},\n        {name: 'Venta de Extintores', url: '/venta-de-extintores.html'}\n      ]\n    },\n    {\n      id: 'clases-fuego',\n      name: 'Clases de Fuego A B C D K',\n      category: 'seguridad-contra-incendios',\n      categoryName: 'Seguridad Contra Incendios',\n      focus: 'identificacion de tipos de fuego y extintor correcto',\n      audience: 'Cualquier persona que necesite entender clases de fuego',\n      keywords: ['clases de fuego', 'tipos de fuego', 'fuego clase A B C D K', 'que extintor usar'],\n      url: '/blog/clases-fuego-a-b-c-d-k-guia-completa.html',\n      relatedServices: [\n        {name: 'Como Elegir Extintor', url: '/blog/como-elegir-extintor-correcto-negocio-cdmx.html'},\n        {name: 'Extintor PQS', url: '/polvo-quimico-seco.html'},\n        {name: 'Extintor Tipo K', url: '/tipo-k.html'}\n      ]\n    },\n    {\n      id: 'extintores-oficinas',\n      name: 'Extintores para Oficinas y Corporativos',\n      category: 'industria-y-comercio',\n      categoryName: 'Industria y Comercio',\n      focus: 'seleccion y ubicacion de extintores en espacios de oficina',\n      audience: 'Facility managers, administradores de edificios',\n      keywords: ['extintores oficinas', 'extintor corporativo', 'seguridad oficinas CDMX', 'extintor edificio'],\n      url: '/venta-de-extintores.html',\n      relatedServices: [\n        {name: 'Extintor PQS', url: '/polvo-quimico-seco.html'},\n        {name: 'Extintor CO2', url: '/co2.html'},\n        {name: 'Senalizacion', url: '/senalizacion.html'}\n      ]\n    },\n    {\n      id: 'extintores-bodegas',\n      name: 'Extintores para Bodegas e Industrias',\n      category: 'industria-y-comercio',\n      categoryName: 'Industria y Comercio',\n      focus: 'sistemas de proteccion para almacenes y naves industriales',\n      audience: 'Gerentes de planta, logistica, operaciones',\n      keywords: ['extintores bodegas', 'extintor industrial', 'seguridad almacenes', 'proteccion naves industriales'],\n      url: '/venta-de-extintores.html',\n      relatedServices: [\n        {name: 'Sistemas Proteccion', url: '/blog/sistemas-proteccion-integral-empresas-cdmx.html'},\n        {name: 'Capacitacion Brigadas', url: '/capacitacion-brigadas.html'},\n        {name: 'Senalizacion', url: '/senalizacion.html'}\n      ]\n    },\n    {\n      id: 'senalizacion',\n      name: 'Senalizacion de Seguridad contra Incendios',\n      category: 'equipos-contra-incendio',\n      categoryName: 'Equipos Contra Incendio',\n      focus: 'senales fotoluminiscentes y equipamiento NOM-026',\n      audience: 'Empresas que necesitan cumplir senalizacion',\n      keywords: ['senalizacion extintores', 'senales seguridad', 'NOM-026-STPS', 'senales evacuacion'],\n      url: '/senalizacion.html',\n      relatedServices: [\n        {name: 'Proteccion Civil', url: '/blog/proteccion-civil-cdmx-requisitos-extintores.html'},\n        {name: 'Sistemas Proteccion', url: '/blog/sistemas-proteccion-integral-empresas-cdmx.html'},\n        {name: 'Venta de Extintores', url: '/venta-de-extintores.html'}\n      ]\n    }\n  ],\n  articleTypes: [\n    { id: 'guia-completa', name: 'Guia Completa', tone: 'educativo y detallado' },\n    { id: 'tutorial', name: 'Tutorial Practico', tone: 'paso a paso y aplicable' },\n    { id: 'normativa', name: 'Explicacion Normativa', tone: 'tecnico y legal' },\n    { id: 'comparativa', name: 'Comparativa', tone: 'analitico y objetivo' },\n    { id: 'consejos', name: 'Consejos Profesionales', tone: 'experto y practico' }\n  ],\n  images: {\n    'seguridad-contra-incendios': [\n      'img/img-index/venta-de-extintores.avif',\n      'img/img-index/como-elegir-extintor-correcto.avif',\n      'img/img-index/prevencion-de-incendios.avif'\n    ],\n    'tipos-de-extintores': [\n      'img/img-index/polvo-quimico-seco-pqs.avif',\n      'img/img-index/dioxido-de-carbono-co2.avif',\n      'img/img-index/tipo-k.avif',\n      'img/img-index/agua-presion.avif',\n      'img/img-index/espuma-afff.avif',\n      'img/img-index/agentes-limpios.avif'\n    ],\n    'mantenimiento-y-recarga': [\n      'img/img-index/mantenimiento-preventivo.avif',\n      'img/img-index/recarga-de-extintores.avif',\n      'img/img-index/prueba-hidrostatica.avif'\n    ],\n    'equipos-contra-incendio': [\n      'img/img-index/sistemas-proteccion-integral.avif',\n      'img/img-index/senalizacion.avif'\n    ],\n    'normativas-y-certificaciones': [\n      'img/img-index/nom-154-scfi.avif',\n      'img/img-index/prevencion-de-incendios.avif'\n    ],\n    'prevencion-empresarial': [\n      'img/img-index/capacitacion-y-brigadas.avif',\n      'img/img-index/prevencion-de-incendios.avif'\n    ],\n    'emergencias-y-protocolos': [\n      'img/img-index/capacitacion-y-brigadas.avif'\n    ],\n    'guias-y-comparativas': [\n      'img/img-index/como-elegir-extintor-correcto.avif',\n      'img/img-index/venta-de-extintores.avif'\n    ],\n    'industria-y-comercio': [\n      'img/img-index/tipo-k.avif',\n      'img/img-index/venta-de-extintores.avif'\n    ],\n    'hogar-y-familia': [\n      'img/img-index/extintor.avif'\n    ]\n  }\n};\n\n// Estado persistente para evitar repeticiones\nconst state = $getWorkflowStaticData('global');\nif (!state.usedProducts) state.usedProducts = [];\nif (!state.usedImages) state.usedImages = [];\nif (!state.usedTypes) state.usedTypes = [];\nif (!state.articleCount) state.articleCount = 0;\n\n// Seleccionar producto sin repetir\nlet availableProducts = CONFIG.products.filter(p => !state.usedProducts.includes(p.id));\nif (availableProducts.length === 0) {\n  state.usedProducts = [];\n  availableProducts = CONFIG.products;\n}\nconst product = availableProducts[Math.floor(Math.random() * availableProducts.length)];\nstate.usedProducts.push(product.id);\n\n// Seleccionar tipo de articulo sin repetir\nlet availableTypes = CONFIG.articleTypes.filter(t => !state.usedTypes.includes(t.id));\nif (availableTypes.length === 0) {\n  state.usedTypes = [];\n  availableTypes = CONFIG.articleTypes;\n}\nconst articleType = availableTypes[Math.floor(Math.random() * availableTypes.length)];\nstate.usedTypes.push(articleType.id);\n\n// Seleccionar imagen sin repetir\nlet categoryImages = CONFIG.images[product.category] || CONFIG.images['seguridad-contra-incendios'];\nlet availableImages = categoryImages.filter(i => !state.usedImages.includes(i));\nif (availableImages.length === 0) {\n  state.usedImages = state.usedImages.filter(i => !categoryImages.includes(i));\n  availableImages = categoryImages;\n}\nconst heroImage = availableImages[Math.floor(Math.random() * availableImages.length)];\nstate.usedImages.push(heroImage);\n\n// Seleccionar colonias y zonas aleatorias\nconst colonias = [...CONFIG.colonias].sort(() => Math.random() - 0.5).slice(0, 6);\nconst zonasIndustriales = [...CONFIG.zonasIndustriales].sort(() => Math.random() - 0.5).slice(0, 3);\n\n// Incrementar contador\nstate.articleCount++;\n\n// Generar ID unico\nconst articleId = Date.now();\n\nreturn [{\n  json: {\n    CONFIG,\n    product,\n    articleType,\n    heroImage,\n    colonias,\n    zonasIndustriales,\n    articleId,\n    articleNumber: state.articleCount\n  }\n}];"
      },
      "id": "selector",
      "name": "Selector Inteligente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CONSTRUCTOR PROMPT MANEXT v2.0 MEJORADO\n// Basado en guia completa de redaccion SEO\n// ============================================\n\nconst data = $input.first().json;\nconst p = data.product;\nconst t = data.articleType;\nconst colonias = data.colonias;\nconst zonasIndustriales = data.zonasIndustriales;\nconst rs = p.relatedServices;\n\n// Intencion de busqueda por categoria\nconst searchIntents = {\n  'seguridad-contra-incendios': 'transaccional/informacional',\n  'tipos-de-extintores': 'informacional',\n  'mantenimiento-y-recarga': 'transaccional',\n  'equipos-contra-incendio': 'informacional/transaccional',\n  'normativas-y-certificaciones': 'informacional',\n  'prevencion-empresarial': 'informacional',\n  'emergencias-y-protocolos': 'informacional',\n  'guias-y-comparativas': 'informacional',\n  'industria-y-comercio': 'transaccional',\n  'hogar-y-familia': 'transaccional/informacional'\n};\nconst searchIntent = searchIntents[p.category] || 'informacional';\n\n// Patrones de titulo variados\nconst titlePatterns = [\n  { pattern: '[Keyword]: Guia Completa [Año]', style: 'guia' },\n  { pattern: '¿[Pregunta]? Todo lo que Necesitas Saber', style: 'pregunta' },\n  { pattern: '[Numero] [Tema] que [Beneficio] en CDMX', style: 'listicle' },\n  { pattern: '[Keyword] | [Beneficio Principal] en CDMX', style: 'beneficio' },\n  { pattern: '[Keyword] en CDMX: Requisitos y Precios', style: 'local' },\n  { pattern: '[Keyword]: Normativa NOM y Cumplimiento', style: 'normativo' },\n  { pattern: '[Keyword] para Empresas: Guia Profesional', style: 'empresarial' },\n  { pattern: '[Keyword]: Lo que Nadie te Dice [Año]', style: 'revelador' }\n];\nconst patternIndex = (data.articleNumber || 1) % titlePatterns.length;\nconst selectedPattern = titlePatterns[patternIndex];\nconst currentYear = new Date().getFullYear();\n\nconst prompt = `# ROL Y CONTEXTO\n\nEres un **redactor SEO experto especializado en seguridad contra incendios y proteccion civil** con mas de 10 años de experiencia creando contenido tecnico para empresas de mantenimiento de extintores en Mexico.\n\nTu objetivo es generar articulos de blog altamente optimizados para SEO que:\n1. Atraigan trafico organico desde Google y Bing\n2. Eduquen a los lectores sobre seguridad contra incendios\n3. Generen leads cualificados para servicios de mantenimiento de extintores\n4. Posicionen a la empresa como autoridad en el sector\n\n---\n\n# INFORMACION DE LA EMPRESA\n\n**Nombre:** MANEXT - Mantenimiento de Extintores\n**Ubicacion:** Ciudad de Mexico (CDMX), Mexico\n**Telefono:** 55 3968 9272\n**WhatsApp:** wa.me/5215539689272\n**Email:** contacto@mantenimientodeextintores.mx\n\n**Servicios principales:**\n- Venta de extintores certificados NOM (PQS, CO2, Tipo K, Agua, Espuma AFFF, Agentes Limpios)\n- Mantenimiento preventivo de extintores (anual obligatorio)\n- Recarga de extintores profesional\n- Prueba hidrostatica quinquenal\n- Capacitacion y brigadas contra incendios\n- Senalizacion de seguridad NOM-026\n\n**Propuesta de valor:**\n- 80+ años de experiencia en el mercado mexicano\n- +15,000 empresas atendidas en CDMX\n- Personal tecnico certificado\n- Respaldo documental completo para inspecciones de Proteccion Civil\n\n**Certificaciones:** NOM-154-SCFI-2005, NOM-002-STPS-2010, NOM-026-STPS-2008\n\n---\n\n# CONTEXTO DEL ARTICULO\n\n**Tema central:** ${p.name}\n**Categoria:** ${p.categoryName}\n**Enfoque editorial:** ${p.focus}\n**Tipo de contenido:** ${t.name} - ${t.tone}\n**Audiencia especifica:** ${p.audience}\n**Intencion de busqueda:** ${searchIntent}\n\n---\n\n# PALABRAS CLAVE\n\n**Keywords principales:**\n${p.keywords.map((k, i) => (i + 1) + '. \"' + k + '\"').join('\\n')}\n\n**Keywords long-tail a incluir:**\n- \"${p.name.toLowerCase()} en CDMX\"\n- \"precio ${p.name.toLowerCase()}\"\n- \"${p.name.toLowerCase()} certificado NOM\"\n\n**Zonas CDMX:** ${colonias.join(', ')}\n**Zonas industriales:** ${zonasIndustriales.join(', ')}\n\n**Enlaces internos:**\n1. ${rs[0].name} - ${rs[0].url}\n2. ${rs[1].name} - ${rs[1].url}\n3. ${rs[2].name} - ${rs[2].url}\n\n---\n\n# ESTRUCTURA DEL ARTICULO\n\n## TITULO (H1)\n- Keyword principal AL INICIO\n- Maximo 60 caracteres\n- **PATRON:** \"${selectedPattern.pattern}\" (estilo: ${selectedPattern.style})\n- Año actual: ${currentYear}\n- PROHIBIDO usar siempre \"Guia Completa\" - VARIA los titulos\n\n## META DESCRIPCION\n- 150-160 caracteres EXACTOS\n- Incluir keyword + beneficio + CTA suave\n- Mencionar CDMX o Mexico\n\n## INTRODUCCION (150-200 palabras)\n- Hook con estadistica impactante\n- Primera oracion con <strong>keyword principal</strong>\n- Keyword en primeros 100 caracteres\n\n## CUERPO (1800-2500 palabras)\n- 5-7 secciones H2 con IDs\n- Listas con vinetas\n- 1 info-box con dato importante\n- 1 warning-box sobre multas ($5,000-$500,000 MXN)\n- Referencias a NOM-154-SCFI, NOM-002-STPS\n\n## CTAs ESTRATEGICOS\n- Despues de intro (suave)\n- A mitad (moderado)\n- Antes de conclusion (fuerte)\n- Telefono: 55 3968 9272 | WhatsApp\n\n## CONCLUSION (100-150 palabras)\n- Resumir 3-4 puntos clave\n- Mencionar MANEXT (80+ años, +15,000 empresas)\n- CTA final con telefono\n\n## FAQ (5 preguntas)\n- Preguntas REALES de clientes\n- Respuestas 60-100 palabras\n\n---\n\n# TONO Y ESTILO\n\n- Profesional pero accesible\n- Experto que ASESORA, no vendedor\n- Espanol mexicano (ustedes, tu empresa)\n- Parrafos cortos (3-4 lineas max)\n\n## PROHIBIDO:\n- Precios exactos (usar rangos)\n- Frases de IA: \"en el mundo actual\", \"es importante destacar\", \"sin duda\", \"cabe mencionar\", \"a lo largo de los años\"\n- Emojis\n- Keyword stuffing\n- Estadisticas inventadas\n\n---\n\n# ESTRUCTURA HTML\n\n<div class=\"article-intro\">\n  <p class=\"article-lead\">[Hook con <strong>keyword</strong>. Problema. Urgencia sin alarmismo.]</p>\n  <p>[Contexto CDMX. Normativa. Credibilidad MANEXT.]</p>\n  <p>[Adelanto: que aprendera el lector.]</p>\n</div>\n\n<div class=\"table-of-contents\">\n  <h3>Contenido</h3>\n  <ul><!-- enlaces a secciones --></ul>\n</div>\n\n<section id=\"que-es\" class=\"content-section\">\n  <h2>Que es ${p.name}</h2>\n</section>\n\n<section id=\"beneficios\" class=\"content-section\">\n  <h2>Beneficios para tu Empresa</h2>\n</section>\n\n<div class=\"info-box\">\n  <div class=\"info-box-icon\"><svg>...</svg></div>\n  <div class=\"info-box-content\">\n    <h4>Dato Importante</h4>\n    <p>[Dato verificable de NOM o Proteccion Civil]</p>\n  </div>\n</div>\n\n<section id=\"como-funciona\" class=\"content-section\">\n  <h2>Como Funciona/Elegir</h2>\n</section>\n\n<section id=\"normativa\" class=\"content-section\">\n  <h2>Normativa: NOM-154-SCFI y NOM-002-STPS</h2>\n</section>\n\n<div class=\"warning-box\">\n  <div class=\"warning-box-icon\"><svg>...</svg></div>\n  <div class=\"warning-box-content\">\n    <h4>Multas y Sanciones</h4>\n    <p>Multas de $5,000 a $500,000 MXN, clausura...</p>\n  </div>\n</div>\n\n<section id=\"donde-cuando\" class=\"content-section\">\n  <h2>Donde y Cuando Necesitas</h2>\n</section>\n\n<section id=\"errores\" class=\"content-section\">\n  <h2>Errores Comunes</h2>\n</section>\n\n<div class=\"cta-inline\">\n  <div class=\"cta-inline-content\">\n    <h3>¿Necesitas ${p.name}?</h3>\n    <p>80+ años experiencia. Respaldo para Proteccion Civil.</p>\n    <div class=\"cta-inline-buttons\">\n      <a href=\"tel:5539689272\" class=\"btn-primary\">Llamar: 55 3968 9272</a>\n      <a href=\"https://wa.me/5215539689272\" class=\"btn-whatsapp\">WhatsApp</a>\n    </div>\n  </div>\n</div>\n\n<section class=\"related-articles\">\n  <h2>Articulos Relacionados</h2>\n  <!-- 3 cards con rs[0], rs[1], rs[2] -->\n</section>\n\n<section id=\"conclusion\" class=\"content-section conclusion\">\n  <h2>Conclusion</h2>\n  <p>[Resumen. MANEXT 80+ años, +15,000 empresas.]</p>\n  <p>Contactanos: <strong>55 3968 9272</strong> o WhatsApp.</p>\n</section>\n\n---\n\n# FORMATO JSON (RESPONDE SOLO ESTO)\n\n{\n  \"titulo\": \"[max 60 chars, keyword AL INICIO]\",\n  \"slug\": \"[url-sin-acentos-max-55-chars]\",\n  \"metaDescripcion\": \"[150-160 chars EXACTOS]\",\n  \"metaKeywords\": \"[keywords separadas por coma]\",\n  \"breadcrumbText\": \"[15-25 chars]\",\n  \"categoria\": \"${p.categoryName}\",\n  \"categoriaSlug\": \"${p.category}\",\n  \"tiempoLectura\": \"[X] min\",\n  \"contenidoHTML\": \"[HTML COMPLETO min 1800 palabras]\",\n  \"faqSchema\": [\n    {\"pregunta\": \"[Pregunta REAL]\", \"respuesta\": \"[60-100 palabras]\"},\n    {\"pregunta\": \"...\", \"respuesta\": \"...\"},\n    {\"pregunta\": \"...\", \"respuesta\": \"...\"},\n    {\"pregunta\": \"...\", \"respuesta\": \"...\"},\n    {\"pregunta\": \"...\", \"respuesta\": \"...\"}\n  ],\n  \"tags\": [\"tag1\", \"tag2\", \"tag3\", \"tag4\", \"tag5\"],\n  \"enlacesInternos\": [\"${rs[0].url}\", \"${rs[1].url}\", \"${rs[2].url}\"],\n  \"cta\": {\"texto\": \"Solicita cotizacion\", \"enlace\": \"/contacto.html\"}\n}\n\n---\n\n# CHECKLIST (Verifica ANTES de responder)\n\n[ ] Titulo: keyword AL INICIO, <60 chars\n[ ] Meta: 150-160 chars exactos\n[ ] Contenido: 1800+ palabras VALOR REAL\n[ ] Secciones con IDs correctos\n[ ] 1 info-box + 1 warning-box\n[ ] CTA con tel 55 3968 9272\n[ ] 5 FAQs reales\n[ ] NOM mencionadas correctamente\n[ ] Zonas CDMX naturalmente\n[ ] NO frases IA, NO emojis\n[ ] Tono profesional accesible\n\nGENERA EL ARTICULO.`;\n\nreturn [{ json: { ...data, prompt } }];"
      },
      "id": "prompt",
      "name": "Constructor Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\n// System message mejorado v2.0\nconst systemMessage = `Eres un REDACTOR SEO EXPERTO especializado en SEGURIDAD CONTRA INCENDIOS y PROTECCION CIVIL con 10+ años de experiencia en Mexico.\n\nEscribes para MANEXT - Mantenimiento de Extintores, empresa lider en CDMX con:\n- 80+ años de experiencia\n- +15,000 empresas atendidas\n- Certificaciones: NOM-154-SCFI, NOM-002-STPS, NOM-026-STPS\n- Telefono: 55 3968 9272 | WhatsApp: 5215539689272\n\nREGLAS CRITICAS:\n\n1. CONTENIDO: 100% original, 1800-2500 palabras de VALOR REAL. Cada parrafo debe aportar informacion util.\n\n2. SEO: Keyword principal AL INICIO del titulo. Meta description 150-160 chars EXACTOS. Densidad keyword 1-2%.\n\n3. ESTRUCTURA HTML: Usa TODAS las secciones requeridas con IDs correctos (que-es, beneficios, como-funciona, normativa, donde-cuando, errores, conclusion).\n\n4. ELEMENTOS OBLIGATORIOS:\n   - 1 info-box con dato verificable\n   - 1 warning-box sobre multas ($5,000-$500,000 MXN)\n   - CTAs con telefono 55 3968 9272 y WhatsApp\n   - 5 FAQs con preguntas REALES de clientes\n   - Mencionar normativas NOM correctamente\n\n5. TONO: Profesional pero accesible. Experto que ASESORA, no vendedor. Espanol mexicano.\n\n6. PROHIBIDO ABSOLUTAMENTE:\n   - Precios exactos (usa rangos como \"$800-$1,500 MXN\")\n   - Frases de IA: \"en el mundo actual\", \"hoy en dia\", \"es importante destacar\", \"cabe mencionar\", \"sin duda alguna\", \"a lo largo de los años\", \"de esta manera\"\n   - Emojis\n   - Keyword stuffing\n   - Estadisticas inventadas\n   - Contenido generico o de relleno\n\n7. FORMATO: SOLO responde con JSON valido. Sin texto adicional, sin markdown, sin comentarios.`;\n\nconst body = {\n  model: 'gpt-4o',\n  messages: [\n    { role: 'system', content: systemMessage },\n    { role: 'user', content: d.prompt }\n  ],\n  temperature: 0.8,\n  max_tokens: 16000,\n  response_format: { type: 'json_object' }\n};\n\nreturn [{ json: { ...d, chatGPTBody: JSON.stringify(body) } }];"
      },
      "id": "preparar-chatgpt",
      "name": "Preparar Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer {{OPENAI_API_KEY}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.chatGPTBody }}",
        "options": { "timeout": 180000 }
      },
      "id": "chatgpt",
      "name": "ChatGPT API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "notes": "API Key de OpenAI configurada"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst data = $('Constructor Prompt').first().json;\nconst p = data.product;\nconst t = data.articleType;\nconst heroImage = data.heroImage;\nconst articleId = data.articleId;\nconst colonias = data.colonias;\n\n// Parsear respuesta de ChatGPT\nlet content;\ntry {\n  let raw = response.choices[0].message.content\n    .replace(/```json\\n?/gi, '')\n    .replace(/```\\n?/gi, '')\n    .trim();\n  content = JSON.parse(raw);\n} catch(e) {\n  throw new Error('Error parseando JSON: ' + e.message);\n}\n\n// Validar campos requeridos\nif (!content.titulo || content.titulo.length < 20) {\n  throw new Error('Titulo invalido o muy corto: ' + (content.titulo || 'VACIO'));\n}\nif (!content.contenidoHTML || content.contenidoHTML.length < 500) {\n  throw new Error('Contenido HTML invalido o muy corto');\n}\n\n// Validar longitud de meta description\nif (content.metaDescripcion && (content.metaDescripcion.length < 140 || content.metaDescripcion.length > 165)) {\n  console.log('ADVERTENCIA: Meta description fuera de rango (150-160 chars):', content.metaDescripcion.length);\n}\n\n// Aplicar valores por defecto\ncontent.metaDescripcion = content.metaDescripcion || content.metaDescription || `Guia profesional de ${p.name} con MANEXT en CDMX. 80 años de experiencia. Cotizacion gratis.`;\ncontent.metaKeywords = content.metaKeywords || p.keywords.join(', ') + ', MANEXT, CDMX';\ncontent.breadcrumbText = content.breadcrumbText || content.titulo.substring(0, 25);\ncontent.tiempoLectura = content.tiempoLectura || '10 min';\ncontent.faqSchema = content.faqSchema || [];\ncontent.tags = content.tags || p.keywords.slice(0, 5);\ncontent.enlacesInternos = content.enlacesInternos || p.relatedServices.map(s => s.url);\ncontent.cta = content.cta || { texto: 'Solicita cotizacion', enlace: '/contacto.html' };\n\n// Generar slug SEO optimizado\nfunction generateSlug(text) {\n  if (!text || typeof text !== 'string') return null;\n  return text\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .substring(0, 55);\n}\n\nlet slug = content.slug ? generateSlug(content.slug) : generateSlug(content.titulo);\n\n// Asegurar keywords relevantes en slug\nconst relevantKeywords = ['extintor', 'extintores', 'mantenimiento', 'recarga', 'prueba', 'capacitacion', 'nom'];\nconst hasRelevantKeyword = relevantKeywords.some(kw => slug.includes(kw));\nif (!hasRelevantKeyword) {\n  const keyword = p.keywords[0].split(' ')[0].toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  slug = keyword + '-' + slug;\n}\n\nslug = slug.substring(0, 60);\n\nconsole.log('=== ARTICULO GENERADO ===');\nconsole.log('TITULO:', content.titulo, '(' + content.titulo.length + ' chars)');\nconsole.log('SLUG:', slug);\nconsole.log('META:', content.metaDescripcion.length, 'chars');\nconsole.log('CONTENIDO:', content.contenidoHTML.length, 'chars');\nconsole.log('FAQs:', content.faqSchema.length);\n\n// Construir FAQ Schema JSON-LD\nconst faqSchemaJSON = JSON.stringify({\n  '@context': 'https://schema.org',\n  '@type': 'FAQPage',\n  'mainEntity': content.faqSchema.map(f => ({\n    '@type': 'Question',\n    'name': f.pregunta,\n    'acceptedAnswer': {\n      '@type': 'Answer',\n      'text': f.respuesta\n    }\n  }))\n});\n\nreturn [{\n  json: {\n    ...data,\n    content,\n    slug,\n    articleId,\n    heroImage,\n    faqSchemaJSON\n  }\n}];"
      },
      "id": "validar",
      "name": "Validar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/Origenlab/MANTENIMIENTO-DE-EXTINTORES/contents/workflow/TEMPLATE-ARTICULO-MANEXT.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "token {{GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        }
      },
      "id": "github-get-template",
      "name": "GitHub: Obtener Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 300],
      "notes": "GitHub Token configurado"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Validar Respuesta').first().json;\nconst templateResp = $input.first().json;\nconst c = data.content;\nconst p = data.product;\nconst slug = data.slug;\nconst heroImage = data.heroImage;\nconst faqSchemaJSON = data.faqSchemaJSON;\n\n// Decodificar template\nlet template;\ntry {\n  template = Buffer.from(templateResp.content, 'base64').toString('utf8');\n} catch(e) {\n  throw new Error('Error decodificando template: ' + e.message);\n}\n\n// Fecha actual\nconst today = new Date().toISOString().split('T')[0];\n\n// Reemplazar todas las variables\nlet html = template\n  .replace(/\\{\\{TITULO\\}\\}/g, c.titulo)\n  .replace(/\\{\\{SLUG\\}\\}/g, slug)\n  .replace(/\\{\\{META_DESCRIPTION\\}\\}/g, c.metaDescription)\n  .replace(/\\{\\{META_KEYWORDS\\}\\}/g, c.metaKeywords)\n  .replace(/\\{\\{CATEGORIA\\}\\}/g, c.categoria || p.categoryName)\n  .replace(/\\{\\{CATEGORIA_SLUG\\}\\}/g, c.categoriaSlug || p.category)\n  .replace(/\\{\\{IMAGEN_PRINCIPAL\\}\\}/g, heroImage)\n  .replace(/\\{\\{IMAGEN_ALT\\}\\}/g, c.titulo + ' - MANEXT CDMX')\n  .replace(/\\{\\{BREADCRUMB_TEXT\\}\\}/g, c.breadcrumbText)\n  .replace(/\\{\\{TIEMPO_LECTURA\\}\\}/g, c.tiempoLectura)\n  .replace(/\\{\\{FECHA_PUBLICACION\\}\\}/g, today)\n  .replace(/\\{\\{CONTENIDO\\}\\}/g, c.contenidoHTML)\n  .replace(/\\{\\{FAQ_SCHEMA\\}\\}/g, faqSchemaJSON);\n\n// Convertir a Base64\nconst htmlBase64 = Buffer.from(html).toString('base64');\n\nreturn [{\n  json: {\n    ...data,\n    articleHtml: html,\n    articleHtmlBase64: htmlBase64,\n    slug,\n    fechaPublicacion: today\n  }\n}];"
      },
      "id": "construir-html",
      "name": "Construir HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst c = data.content;\nconst p = data.product;\nconst slug = data.slug;\nconst articleId = data.articleId;\nconst heroImage = data.heroImage;\nconst fechaPublicacion = data.fechaPublicacion;\n\n// Validacion critica\nif (!slug || slug.length < 5) {\n  throw new Error('Slug invalido: ' + slug);\n}\n\n// Construir entry para articles.json\nconst articleEntry = {\n  id: slug,\n  title: c.titulo,\n  slug: slug,\n  category: c.categoriaSlug || p.category,\n  date: fechaPublicacion,\n  image: heroImage,\n  excerpt: c.metaDescription,\n  readTime: c.tiempoLectura,\n  featured: false,\n  tags: c.tags || [],\n  cta: 'Leer articulo'\n};\n\nreturn [{\n  json: {\n    ...data,\n    articleEntry\n  }\n}];"
      },
      "id": "construir-card",
      "name": "Construir Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/Origenlab/MANTENIMIENTO-DE-EXTINTORES/contents/blog/{{ $json.slug }}.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "token {{GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Add article: {{ $json.slug }}.html\",\n  \"content\": \"{{ $json.articleHtmlBase64 }}\",\n  \"branch\": \"main\"\n}"
      },
      "id": "github-upload-article",
      "name": "GitHub: Subir Articulo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1940, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/Origenlab/MANTENIMIENTO-DE-EXTINTORES/contents/data/articles.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "token {{GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        }
      },
      "id": "github-get-articles",
      "name": "GitHub: Obtener JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Construir Card').first().json;\nconst articleEntry = data.articleEntry;\nconst slug = data.slug;\nconst gh = $input.first().json;\n\nif (!slug || slug.length < 5) {\n  throw new Error('Slug invalido antes de guardar: ' + slug);\n}\n\nif (!gh.content) throw new Error('articles.json no encontrado');\n\n// Decodificar JSON actual\nlet articlesJson;\ntry {\n  const content = Buffer.from(gh.content, 'base64').toString('utf8');\n  articlesJson = JSON.parse(content);\n} catch(e) {\n  throw new Error('Error parseando articles.json: ' + e.message);\n}\n\n// Validar estructura\nif (!articlesJson.articles || !Array.isArray(articlesJson.articles)) {\n  // Si tiene estructura diferente con 'articulos' en lugar de 'articles'\n  if (articlesJson.articulos && Array.isArray(articlesJson.articulos)) {\n    articlesJson.articles = articlesJson.articulos;\n  } else {\n    articlesJson.articles = [];\n  }\n}\n\n// Verificar duplicados\nconst exists = articlesJson.articles.some(a => a.slug === slug || a.id === slug);\nif (exists) {\n  throw new Error('Articulo con slug \"' + slug + '\" ya existe');\n}\n\n// Agregar al inicio del array articles\narticlesJson.articles.unshift(articleEntry);\n\n// Convertir a Base64\nconst newJSON = JSON.stringify(articlesJson, null, 2);\nconst newBase64 = Buffer.from(newJSON).toString('base64');\n\nreturn [{\n  json: {\n    slug,\n    newArticlesBase64: newBase64,\n    sha: gh.sha,\n    articleTitle: data.content.titulo,\n    articleEntry,\n    totalArticles: articlesJson.articles.length\n  }\n}];"
      },
      "id": "update-articles",
      "name": "Actualizar JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2380, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Origenlab/MANTENIMIENTO-DE-EXTINTORES/contents/data/articles.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "token {{GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Add to articles.json: {{ $json.slug }}\",\n  \"content\": \"{{ $json.newArticlesBase64 }}\",\n  \"sha\": \"{{ $json.sha }}\",\n  \"branch\": \"main\"\n}"
      },
      "id": "github-put-articles",
      "name": "GitHub: Guardar JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Actualizar JSON').first().json;\nconst ghResult = $input.first().json;\n\nconst articleUrl = 'https://mantenimientodeextintores.mx/blog/' + data.slug + '.html';\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Articulo publicado exitosamente',\n    titulo: data.articleTitle,\n    slug: data.slug,\n    url: articleUrl,\n    totalArticulos: data.totalArticles,\n    commitUrl: ghResult.commit ? ghResult.commit.html_url : null\n  }\n}];"
      },
      "id": "respuesta-final",
      "name": "Respuesta Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2820, 300]
    }
  ],
  "connections": {
    "Trigger Programado": {
      "main": [
        [{ "node": "Selector Inteligente", "type": "main", "index": 0 }]
      ]
    },
    "Trigger Manual": {
      "main": [
        [{ "node": "Selector Inteligente", "type": "main", "index": 0 }]
      ]
    },
    "Selector Inteligente": {
      "main": [
        [{ "node": "Constructor Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Constructor Prompt": {
      "main": [
        [{ "node": "Preparar Request", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Request": {
      "main": [
        [{ "node": "ChatGPT API", "type": "main", "index": 0 }]
      ]
    },
    "ChatGPT API": {
      "main": [
        [{ "node": "Validar Respuesta", "type": "main", "index": 0 }]
      ]
    },
    "Validar Respuesta": {
      "main": [
        [{ "node": "GitHub: Obtener Template", "type": "main", "index": 0 }]
      ]
    },
    "GitHub: Obtener Template": {
      "main": [
        [{ "node": "Construir HTML", "type": "main", "index": 0 }]
      ]
    },
    "Construir HTML": {
      "main": [
        [{ "node": "Construir Card", "type": "main", "index": 0 }]
      ]
    },
    "Construir Card": {
      "main": [
        [{ "node": "GitHub: Subir Articulo", "type": "main", "index": 0 }]
      ]
    },
    "GitHub: Subir Articulo": {
      "main": [
        [{ "node": "GitHub: Obtener JSON", "type": "main", "index": 0 }]
      ]
    },
    "GitHub: Obtener JSON": {
      "main": [
        [{ "node": "Actualizar JSON", "type": "main", "index": 0 }]
      ]
    },
    "Actualizar JSON": {
      "main": [
        [{ "node": "GitHub: Guardar JSON", "type": "main", "index": 0 }]
      ]
    },
    "GitHub: Guardar JSON": {
      "main": [
        [{ "node": "Respuesta Final", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
